---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCIE = [
  {
    date: '2022 - 2023',
    title: 'Ingeniero de Integraciones',
    company: 'Truora S.A.S.',
    description:
      'Comprender la lógica de negocio del cliente para desarrollar e implementar un plan de integración que aborde de manera efectiva las necesidades específicas de su negocio y de las tecnologías utilizadas. Desarrollé una API - Rest para demos de integración, donde se simulaba las APIs de los clientes integrada a los srevicios de Truora.',
    link: 'https://misty-timi-luisrivas123.koyeb.app/api/docs/'
  },
  {
    date: '2019 - 2022',
    title: 'Ingeniero Junior de Desarrollo',
    company: 'INTELLIGENT AGRO S.A.S.',
    description:
      'Responsable de Diseñar y desarrollar el prototipo de hardware del equipo de control y monitoreo “EASYGROW” para sistemas de riego. Integrar el equipo “EASYGROW” con la aplicación IoT “EASYGROW-PRO” para el registro de datos y control a través de internet.'
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map(experiencie => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
